
/* Basics */
p, h1 {
    margin: 0;
    font-size: 19px;
}
h1 {
    padding-top: 21px;
    font-size: 38px;
}
h2 {
    font-size: 26px;
}
h3 {
    text-align: left;
    font-size: 22px;
}

.src-button {
    z-index: 1;
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: rgb(256, 256, 256, 0.92);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 40px;
    box-shadow: 0 0 20px 0 rgb(172, 172, 168, 0.7);
}
.fa-terminal {
    color: black;
    font-size: 1.44em !important;
}
.src-button-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 56px;
}
.src-button:hover {
    scale: 104%;
}

/* Page */
.page {
    display: grid;
    justify-content: center;
    justify-items: center;
    padding-bottom: 75px;
    background-color: rgb(255, 254, 249);
    z-index: 0;
}
.labeled-grid {
    padding-top: 16px;
}
.three-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    max-width: 830px;
}

/* Header */
.two-col {
    display: grid;
    grid-template-columns: 80px 160px;
    column-gap: 130px;
}
.details {
    display: grid;
    grid-template-columns: 2fr 3fr;
    max-width: 900px;
    gap: 100px;
    padding: 55px 0px;
}
.response {
    font-size: 18px;
}

/* Page Components */
.collage {
    width: 100%;
}
.para {
    max-width: 900px;
    padding-left: 90px;
    padding-right: 90px;
}
.photo-item{
    width: 250px;
}
.sm-photo-item {
    width: 200px;
    padding-top: 6px;
}
.caption {
    text-align: center;
    font-size: 17px;
    padding-top: 10px;
}

.lora {
    font-family: 'Lora', serif;
    font-style: italic;
    color: var(--darkgray);
}
.two-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 60px;
    max-width: 830px;
}
.custom-header {
    display: grid;
    grid-template-columns: 580px 1fr;
}