
@import url(https://db.onlinewebfonts.com/c/860c3ec7bbc5da3e97233ccecafe512e?family=Circular+Std+Book);
@import url(https://fonts.googleapis.com/css2?family=Lora:ital@0;1&display=swap);

/* Intro */
.home {
    display: flex;
    justify-content: center;
    padding-bottom: 75px;
    padding-left: 90px;
    padding-right: 90px;
    background-color: var(--background);
}
.summary {
    padding-top: 200px;
    padding-bottom: 225px;
}
.summary .title {
    margin: 0;
    font-weight: 500;
    font-size: 48px;
}
.summary .subtitle {
    font-size: 26px;
    letter-spacing: 1px;
    color: rgb(48, 48, 48);
    font-family: 'Lora', serif;
    font-style: italic;
}


/* Projects */
.projects {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-gap: 50px;
    padding-bottom: 75px;
}
.project-item {
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    background: rgb(233, 232, 227);
}
.collage {
    max-height: 400px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 10;
}
.project-title {
    padding: 26px;
    height: 100%;
    width: max-content;
    position: absolute;
    z-index: 90;
    background-color: var(--gray2);
    -webkit-mask: var(--mask); 
    mask: var(--mask);
}
.project-title h1 {
    margin: 0;
    font-size: 30px;
    font-weight: 500;
    padding-right: 50px;
    padding-bottom: 14px;
}
.project-title h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    padding: 6px 0px;
    color: gray;
    font-family: 'Lora', serif;
    font-style: italic;
}
.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    max-width: 300px;
}
.tag {
    border: 1.25px solid;
    font-weight: 500;
    border-radius: 4px;
    padding: 5px;
}


/* Outside of Work */
.interests {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'Lora', serif;
    font-style: italic;
    gap: 45px;
}
.interest-item .card {
    width: 210px;
    height: 280px;
    border-radius: 8px;
    object-fit: cover;
}
.project-item:hover, .interest-item:hover {
    opacity: 0.85;
    scale: 99.6%;
    cursor: pointer;
}

/* Footer */
.stack {
    display: grid;
    justify-content: center;
    text-align: center;
    justify-items: center;
}
.stack:hover {
    opacity: 0.85;
    cursor: pointer;
}

@media only screen and (max-width: 1000px) {
    .interests {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .interest-item .card {
        width: 200px;
        height: 260px;
    }
}

